.App {
  /* text-align: center; */
  font-size: calc(8px + 1vmin);

}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.nav-logo {
  height: 15vmin;
  pointer-events: none;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
  font-size: calc(6px + 1vmin);
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

.App-formInput[type=text]{
  /* transition: width 0.4s ease-in-out;   */
  display: flex;
  flex-direction: column;

  /* width: 130px; */
  /* box-sizing: border-box; */
  border: 2px solid #ccc;
  /* border-radius: 4px; */
  font-size: calc(10px + 2vmin);
  background-color: white;
  /* background-image: url('searchicon.png'); */
  /* background-position: 10px 10px;  */
  /* background-repeat: no-repeat; */
  padding: 12px 20px 12px 40px;
  transition: width 1.4s ease-in-out;
}

